
$color-primario: #e0266b;
$color-btn: #2c8973;
$color-gris: #e6e6e6;
$color: blueviolet;
$color-secundario: red;

$fuente-principal: "Nunito", sans-serif;

$MQ-small: 320px;

*{
    margin: 0;
    padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(206, 199, 199);
}
